<div class="product-card">
  <a class="img-wrapper">
    <img
    class="img"
    src="/assets/img/img-placeholder.png"
    alt="placeholder"    
    >
  </a>
  <a class="title">Grand Family House</a>
  <div class="location">
    <svg-icon
    src="/assets/svg/location.svg"
    class="location-icon"
    svgClass="icon"
    ></svg-icon>
    <p class="address">Ohio St. South Gate, California</p>
  </div>
  <div class="summary">
    <span class="price">$350</span>
    <div class="rating">
      <svg-icon
      src="/assets/svg/star.svg"
      class="rating-icon"
      svgClass="icon"
      ></svg-icon>
      <span class="rating-value">4.8</span>
    </div>
  </div>
</div>