@use "src/assets/scss/brand-colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  transition: box-shadow 0.25s ease-in;

  .img-wrapper {
    display: flex;
    width: 100%;

    .img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
    }
  }

  .img-loader {
    width: 100%;

    ::ng-deep .loader {
      height: 100%;
      border-radius: 16px;
      aspect-ratio: 1 / 1;
      margin: 0;
    }
  }

  .title {
    font-weight: typography.$bold;
    font-size: 1.5rem;
    line-height: 150%;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 8px;
    color: brand-colors.$greyscale-80;
  }

  .title-loader {
    max-width: 90%;
    height: 30px;
    margin-top: 16px;
    margin-bottom: 8px;

    ::ng-deep .loader {
      height: 100%;
      margin: 0;
    }

  }

  .location {
    display: flex;
    gap: 8px;

    .location-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 20px;
        fill: brand-colors.$primary-70;
      }
    }

    .address {
      font-family: typography.$font-secondary;
      font-weight: typography.$medium;
      font-size: 0.75rem;
      line-height: 200%;
      color: brand-colors.$greyscale-70;
    }
  }

  .location-loader {
    max-width: 80%;
    height: 24px;

    ::ng-deep .loader {
      height: 100%;
      margin: 0;
    }
  }

  .summary {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;

    .price {
      font-weight: typography.$bold;
      font-size: 1.5rem;
      line-height: 150%;
      color: brand-colors.$greyscale-80;
    }

    .price-loader {
      width: 30%;
      min-width: 60px;
      height: 36px;

      ::ng-deep .loader {
        height: 100%;
        margin: 0;
      }
    }

    .rating {
      display: flex;
      gap: 8px;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.5px;

        .icon {
          width: 20px;
          fill: brand-colors.$secondary-50;
        }
      }

      &-value {
        height: 100%;
        display: flex;
        align-items: center;
        font-family: typography.$font-secondary;
        font-size: 1rem;
        line-height: 200%;
        font-weight: typography.$semi-bold;
        color: brand-colors.$greyscale-80;
      }
    }

    .rating-loader {
      width: 20%;
      min-width: 60px;
      height: 36px;

      ::ng-deep .loader {
        height: 100%;
        margin: 0;
      }
    }
  }

  &:hover {
    box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
  }
}
