<ng-container *ngrxLet="vm$ as vm">
  <stepper
    #stepper
    [steps]="vm.steps"
    (stepChange)="onStepChange($event)"
  ></stepper>
  <form
    class="product-creation-form"
    [formGroup]="form"
    [ngSwitch]="vm.stepId"
    (ngSubmit)="onSubmit()"
  >
    <ng-container *ngSwitchCase="1">
      <product-general-form formGroupName="general"></product-general-form>
      <button
        class="next-button"
        [disabled]="general.invalid"
        color="secondary"
        shared-button
        (click)="stepper.selectNextStep()"
      >
        Next step
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <product-location-form formGroupName="location"></product-location-form>
      <button
        class="next-button"
        [disabled]="location.invalid"
        color="secondary"
        shared-button
        (click)="stepper.selectNextStep()"
      >
        Next step
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <product-translate-form
        formGroupName="translation"
      ></product-translate-form>
      <button
        class="submit-button"
        [disabled]="form.invalid"
        type="submit"
        color="secondary"
        shared-button
      >
        Create product
      </button>
    </ng-container>
  </form>
</ng-container>
