<ng-container *ngrxLet="vm$ as vm">
  <app-stepper
    #stepper
    [steps]="vm.steps"
    (stepChange)="onStepChange($event)"
  ></app-stepper>
  <form
    class="product-creation-form"
    [formGroup]="form"
    [ngSwitch]="vm.stepId"
    (ngSubmit)="onSubmit()"
  >
    <ng-container *ngSwitchCase="1">
      <app-product-general-form
        formGroupName="general"
      ></app-product-general-form>
      <button
        class="next-button"
        [disabled]="general.invalid"
        color="secondary"
        shared-button
        (click)="stepper.selectNextStep()"
      >
        Next step
      </button>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <app-product-location-form
        formGroupName="location"
      ></app-product-location-form>
      <button
        appButton
        class="next-button"
        [disabled]="location.invalid"
        color="secondary"
        (click)="stepper.selectNextStep()"
      >
        Next step
      </button>
    </ng-container>
  </form>
</ng-container>
