@use 'src/assets/scss/typography';
@use 'src/assets/scss/brand-colors';

* {
  font-family: typography.$font-primary;
  font-weight: typography.$regular;
  color: brand-colors.$greyscale-70;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: brand-colors.$greyscale-10;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: brand-colors.$greyscale-10;
  }

  background-color: brand-colors.$greyscale-10;
  box-shadow: 0 4px 6px 0 rgba($color: black, $alpha: 0.2);
}
