<footer class="footer">
  <svg-icon
    svgClass="logo-icon"
    class="logo"
    src="/assets/svg/logo-inverted.svg"
  ></svg-icon>
  <div class="content">
    <div class="row">
      <div class="column">
        <h4 class="heading">{{ 'components.footer.heading' | translate }}</h4>
        <p class="description">
          {{ 'components.footer.description' | translate }}
        </p>
      </div>
      <div class="column">
        <h5 class="subheading">
          {{ 'components.footer.services.heading' | translate }}
        </h5>
        <ul class="offers">
          <li>
            <p class="offer">
              {{ 'components.footer.services.home-rent' | translate }}
            </p>
          </li>
          <li>
            <p class="offer">
              {{ 'components.footer.services.sell' | translate }}
            </p>
          </li>
          <li>
            <p class="offer">
              {{ 'components.footer.services.villa-rent' | translate }}
            </p>
          </li>
        </ul>
      </div>
      <div class="column">
        <h5 class="subheading">
          {{ 'components.footer.support.heading' | translate }}
        </h5>
        <ul class="offers">
          <li>
            <p class="offer">
              {{ 'components.footer.support.customer' | translate }}
            </p>
          </li>
          <li>
            <a class="offer">{{
              'components.footer.support.contact' | translate
            }}</a>
          </li>
          <li>
            <p class="offer">
              {{ 'components.footer.support.privacy' | translate }}
            </p>
          </li>
        </ul>
      </div>
      <div class="column">
        <h5 class="subheading">
          {{ 'components.footer.media.heading' | translate }}
        </h5>
        <ul class="offers">
          <li>
            <a class="offer">{{
              'components.footer.media.facebook' | translate
            }}</a>
          </li>
          <li>
            <a class="offer">{{
              'components.footer.media.instagram' | translate
            }}</a>
          </li>
          <li>
            <a class="offer">{{
              'components.footer.media.twitter' | translate
            }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-row">
      <nav class="nav">
        <ul class="nav-links">
          <li>
            <a routerLink="home">{{
              'components.footer.navigation.home' | translate
            }}</a>
          </li>
          <li>
            <a routerLink="catalog">{{
              'components.footer.navigation.catalog' | translate
            }}</a>
          </li>
          <li>
            <a routerLink="about">{{
              'components.footer.navigation.agencies' | translate
            }}</a>
          </li>
        </ul>
      </nav>
      <small class="copyright">&copy; Copyright 2022</small>
    </div>
  </div>
</footer>
