@use 'brand-colors';
@use 'typography';

.language-switcher {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  .language-select {
    text-transform: uppercase;
    background-color: transparent;
    font-family: typography.$font-secondary;
    font-size: 1rem;
    border: none;

    &.active {
      color: brand-colors.$greyscale-80;
      font-weight: typography.$semi-bold;
    }
  }
}
