@use "typography";
@use "brand-colors";
@use "breakpoints";

.product-info {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3rem;
    font-weight: typography.$bold;
    color: brand-colors.$greyscale-80;
    text-transform: capitalize;

    @include breakpoints.mobile {
      font-size: 2.5rem;
    }
  }

  .property-title {
    font-size: 2rem;
    color: brand-colors.$greyscale-80;
    line-height: 150%;
    font-weight: typography.$bold;
    text-transform: capitalize;
  }

  .location {
    display: flex;
    gap: 8px;

    .location-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 20px;
        fill: brand-colors.$primary-70;
      }
    }

    .position {
      font-family: typography.$font-secondary;
      font-weight: typography.$medium;
      font-size: 0.85rem;
      line-height: 200%;
      color: brand-colors.$greyscale-70;
    }
  }

  .img,
  .carousel {
    margin: 16px 0;
    width: 100%;
    aspect-ratio: 3 / 1.25;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;

    @include breakpoints.laptop {
      aspect-ratio: 2 / 1;
    }

    @include breakpoints.tablet {
      aspect-ratio: 4 / 3;
    }
  }

  .description {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-text {
      font-family: typography.$font-secondary;
      font-size: 1rem;
      line-height: 150%;
      color: brand-colors.$greyscale-70;
    }
  }

  .overview {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      &-item p {
        font-family: typography.$font-secondary;
        font-weight: typography.$medium;
        color: brand-colors.$greyscale-80;
        font-size: 1rem;
        line-height: 200%;
      }
    }
  }

  .details {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-properties {
      display: flex;
      flex-wrap: wrap;
      column-gap: 150px;
      row-gap: 15px;

      .details-list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .row {
          display: flex;
          align-items: center;
          column-gap: 30px;

          .head {
            display: inline-block;
            min-width: 160px;
            max-width: 160px;
            font-size: 1.35rem;
            font-weight: typography.$bold;
            color: brand-colors.$greyscale-80;
            line-height: 175%;
            text-transform: capitalize;
            text-align: left;
            word-break: break-all;
          }

          .data {
            display: inline-block;
            font-size: 1.35rem;
            font-weight: typography.$semi-bold;
            color: brand-colors.$greyscale-70;
            text-transform: capitalize;
            word-break: break-all;
          }
        }
      }

      @include breakpoints.tablet {
        column-gap: 40px;
      }
    }
  }

  .address {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .map {
      width: 100%;
      aspect-ratio: 3 / 1;
      background-color: brand-colors.$greyscale-30;

      @include breakpoints.tablet {
        aspect-ratio: 3 / 2;
      }
    }
  }
}

.skeleton-loader {
  width: 100%;

  .loader ::ng-deep .loader {
    height: 100%;
    margin-bottom: 0;
  }

  .title-loader {
    margin-bottom: 9px;
    max-width: 600px;
    height: 57px;
  }

  .position-loader {
    max-width: 250px;
    height: 27.2px;
  }

  .img-loader {
    margin: 16px 0;
    aspect-ratio: 3 / 1;

    ::ng-deep .loader {
      border-radius: 16px;
    }

    @include breakpoints.tablet {
      aspect-ratio: 2 / 1.5;
    }
  }

  .property-title-loader {
    margin: 8px 0;
    max-width: 220px;
    height: 32px;
  }

  .description-text-loaders {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .description-text-loader {
      height: 18px;

      &:nth-child(1) {
        width: 90%;
      }

      &:nth-child(2) {
        width: 80%;
      }

      &:nth-child(3) {
        width: 70%;
      }
    }
  }

  .overview-item-loader {
    width: 120px;
    height: 32px;
  }

  .details-head-loader {
    min-width: 160px;
    max-width: 100px;
    height: 38px;
  }

  .details-data-loader {
    min-width: 100px;
    max-width: 100px;
    height: 38px;
  }

  .map-loader {
    width: 100%;
    aspect-ratio: 3 / 1;

    @include breakpoints.tablet {
      aspect-ratio: 3 / 2;
    }
  }
}
