<div class="benefits">
  <div class="heading">
    <h2 class="title">
      {{ 'components.home-benefits.heading.title' | translate }}
    </h2>
    <p class="description">
      {{ 'components.home-benefits.heading.description' | translate }}
    </p>
  </div>
  <div class="content">
    <img src="/assets/img/img-placeholder.png" alt="placeholder" class="img" />
    <app-accordion class="accordion-wrapper">
      <app-expansion-panel *ngFor="let expansion of accordion">
        <app-expansion-panel-title>
          <span class="expansion-title">{{ expansion.title | translate }}</span>
        </app-expansion-panel-title>
        <app-expansion-panel-content>
          <p class="expansion-description">
            {{ expansion.description | translate }}
          </p>
        </app-expansion-panel-content>
      </app-expansion-panel>
    </app-accordion>
  </div>
</div>
