<div class="product-listing" *ngrxLet="vm$ as vm">
  <div class="heading">
    <h2 class="title">{{ 'listings.heading.title' | translate }}</h2>
    <a
    shared-button
    color="secondary"
    class="view-button"
    >{{ 'listings.heading.view-button' | translate }}</a>
  </div>
  <div class="listings">
    <ng-container *ngIf="!vm.loading">
      <product-card
      class="product"
      *ngFor="let product of vm.products"
      [product]="product"
      ></product-card>
    </ng-container>
    <ng-container *ngIf="vm.loading">
      <product-card
      class="product"
      *ngFor="let loader of vm.quantity | times"
      [isLoading]="true"
      ></product-card>
    </ng-container>
  </div>
</div>