@use "src/assets/scss/brand-colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";
@use "src/assets/scss/variables";

.product-listing {
  margin: 0 variables.$layout-indent;
  padding: 0 60px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 60px;

    .title {
      font-size: 3rem;
      font-weight: typography.$bold;
      line-height: 125%;
      text-transform: capitalize;
      color: brand-colors.$greyscale-80;

      @include breakpoints.tablet-sm {
        font-size: 2.5rem;
      }

      @include breakpoints.new(500px) {
        font-size: 2.15rem;
      }

      @include breakpoints.mobile {
        text-align: center;
      }
    }

    .view-button {
      height: 56px;
      text-align: center;

      @include breakpoints.tablet-sm {
        padding: 10px 24px;
      }
    }

    @include breakpoints.tablet {
      padding: 0 16px;
      margin-bottom: 40px;
    }

    @include breakpoints.mobile {
      margin-bottom: 25px;
      flex-direction: column;
      gap: 16px;
    }
  }

  .listings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .product {
      width: 296px;

      @include breakpoints.tablet-sm {
        min-width: 260px;
        width: 100%;
      }
    }

    @include breakpoints.new(650px) {
      flex-direction: column;

      .product:nth-child(2n) {
        margin-left: auto;
      }
    }
  }

  @include breakpoints.tablet {
    padding: 0;
  }
}
