<header class="header">
  <svg-icon class="logo" src="/assets/svg/logo.svg"></svg-icon>
  <ul class="nav-links">
    <li>
      <a
      routerLink="home"
      routerLinkActive="active"
      >{{ 'nav.home' | translate}}</a>
    </li>
    <li>
      <a
      routerLink="catalog"
      routerLinkActive="active"
      >{{ 'nav.catalog' | translate }}</a>
    </li>
    <li>
      <a
      routerLink="about"
      routerLinkActive="active"
      >{{ 'nav.about' | translate }}</a>
    </li>
    <li>
      <a
      routerLink="contacts"
      routerLinkActive="active"
      >{{ 'nav.contacts' | translate }}</a>
    </li>
    <li>
      <a
      routerLink="feedback"
      routerLinkActive="active"
      >{{ 'nav.feedback' | translate }}</a>
    </li>
    <li>
      <a
      routerLink="tour"
      routerLinkActive="active"
      >{{ 'nav.tour' | translate }}</a>
    </li>
  </ul>
  <select-language class="language-select"></select-language>
  <button class="menu" (click)="showSidebar()">
    <svg-icon class="menu-icon" src="/assets/svg/menu.svg"></svg-icon>
  </button>
</header>