$primary-80: #155c3f;
$primary-70: #27ad77;
$primary-50: #61dbaa;
$primary-30: #8ae5c0;
$primary-10: #def8ed;

$secondary-80: #853f00;
$secondary-70: #eb7000;
$secondary-50: #ff8a20;
$secondary-30: #ffbf85;
$secondary-10: #ffdab8;

$greyscale-80: #123763;
$greyscale-75: #333333;
$greyscale-70: #6d6d6d;
$greyscale-50: #cccccc;
$greyscale-30: #e6e6e6;
$greyscale-10: #ffffff;
