@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

$font-primary: "Nunito Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-tertiary: "Raleway", sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
