<div class="catalog-page" *ngrxLet="vm$ as vm">
  <section class="explore">
    <h1 class="title">{{ 'pages.catalog.overview.title' | translate }}</h1>
    <p class="description">{{ 'pages.catalog.overview.description' | translate }}</p>
    <search-form (search)="onSearch($event)"></search-form>
  </section>
  <main>
    <product-results
    [products]="vm.products"
    [isLoading]="vm.loading"
    ></product-results>
    <div class="pagination">
      <paginator
      *ngIf="vm.meta"
      [length]="vm.meta.totalItems"
      [pageSize]="vm.meta.limit"
      [pageIndex]="vm.pageIndex"
      (page)="changePage($event)"
      [delta]="2"
      ></paginator>
    </div>
  </main>
</div>