@use 'brand-colors';
@use 'typography';
@use 'breakpoints';
@use 'variables';

.catalog-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .explore {
    margin: 0 variables.$layout-indent;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: brand-colors.$greyscale-80, $alpha: 0.5);
    padding: 128px 15%;
    border-radius: 16px;

    .title {
      font-size: 4.5rem;
      font-weight: typography.$bold;
      text-align: center;
      color: brand-colors.$greyscale-10;
      margin-bottom: 24px;

      @include breakpoints.laptop {
        font-size: 4rem;
      }

      @include breakpoints.tablet {
        font-size: 3.5rem;
      }

      @include breakpoints.tablet-sm {
        font-size: 3rem;
      }
    }

    .description {
      font-size: 1rem;
      line-height: 130%;
      font-family: typography.$font-secondary;
      text-align: center;
      color: brand-colors.$greyscale-10;
      margin-bottom: 64px;
    }

    @include breakpoints.tablet {
      padding: 64px 10%;
    }

    @include breakpoints.tablet-sm {
      padding: 52px 8%;
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}
