@use 'brand-colors';
@use 'typography';
@use 'breakpoints';

.stepper {
  width: 100%;
  padding: 24px 50px;
  background-color: brand-colors.$primary-70;
  border-radius: 8px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &-item {
      width: 200px;
      max-width: 100%;
    }

    @include breakpoints.tablet-sm {
      flex-direction: column;
    }
  }

  &-step {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 56px;
    background-color: brand-colors.$primary-70;
    border: 1px solid brand-colors.$greyscale-10;
    border-radius: 8px;
    font-family: typography.$font-secondary;
    font-weight: typography.$semi-bold;
    font-size: 1rem;
    line-height: 200%;
    color: brand-colors.$greyscale-10;

    &.active {
      background-color: brand-colors.$greyscale-10;
      color: brand-colors.$primary-70;
    }

    &:disabled {
      cursor: default;
    }
  }
}
