<form class="search-form">
  <div class="search-type">
    <button
    shared-button
    type="button"
    class="switch"
    [theme]="getTheme('sell')"
    (click)="setBranch('sell')"
    >{{ 'search-form.type.sell' | translate }}</button>
    <button
    shared-button
    type="button"
    class="switch"
    [theme]="getTheme('rent')"
    (click)="setBranch('rent')"
    >{{ 'search-form.type.rent' | translate }}</button>
  </div>
  <div class="search-attributes">
    <div class="search-attribute">
      <label for="location">{{ 'search-form.attributes.location' | translate}}</label>
      <select id="location" shared-select>
        <option>Jakarta, Indonesia</option>
      </select>
    </div>
    <div class="search-attribute">
      <label for="type">{{ 'search-form.attributes.type' | translate}}</label>
      <select id="type" shared-select>
        <option>Type 21/24</option>
      </select>
    </div>
    <div class="search-attribute">
      <label for="range">{{ 'search-form.attributes.range' | translate}}</label>
      <select id="range" shared-select>
        <option>$100-$500</option>
      </select>
    </div>
    <button
    shared-button
    color="secondary"
    class="submit-button"
    >
      Search
      <svg-icon
      src="/assets/svg/search.svg"
      class="search"
      svgClass="search-icon"
      ></svg-icon>
    </button>
  </div>
</form>