<aside class="sidebar" [class.folded]="!visible">
  <div class="head">
    <svg-icon
    svgClass="logo-icon"
    class="logo"
    src="/assets/svg/logo.svg"
    ></svg-icon>
    <button class="close-button" (click)="requestSidebarClose()">
      <svg-icon
      svgClass="close-icon"
      class="close"
      src="/assets/svg/close.svg"
      ></svg-icon>
    </button>
  </div>
  <nav class="nav-content">
    <ul class="nav-links">
      <li>
        <a
        routerLink="home"
        routerLinkActive="active"
        (click)="requestSidebarClose()"
        >{{ 'nav.home' | translate}}</a>
      </li>
      <li>
        <a
        routerLink="catalog"
        routerLinkActive="active"
        (click)="requestSidebarClose()"
        >{{ 'nav.catalog' | translate }}</a>
      </li>
      <li>
        <a
        routerLink="agencies"
        routerLinkActive="active"
        (click)="requestSidebarClose()"
        >{{ 'nav.agencies' | translate }}</a>
      </li>
    </ul>
  </nav>
  <language-switcher class="language-select"></language-switcher>
</aside>