.expansion-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      height: 24px;
    }
  }
}