<div class="agency-list-page" *ngrxLet="vm$ as vm">
  <section class="overview">
    <h1 class="heading">
      {{ 'pages.agency-list.overview.title' | translate }}
    </h1>
    <p class="description">
      {{ 'pages.agency-list.overview.description' | translate }}
    </p>
  </section>
  <main class="main">
    <agency-results
      [agencies]="vm.agencies"
      [loading]="vm.loading"
    ></agency-results>
    <div class="pagination">
      <app-paginator
        [length]="133"
        [pageIndex]="vm.pageIndex"
        (page)="changePage($event)"
        [pageSize]="6"
        [delta]="2"
      ></app-paginator>
    </div>
  </main>
</div>
