<div class="agency-list-page" *ngrxLet="vm$ as vm">
  <section class="overview">
    <h1 class="heading">{{ 'agency-list.overview.heading' | translate }}</h1>
    <p class="description">{{ 'agency-list.overview.description' | translate }}</p>
  </section>
  <main class="main">
    <agency-results
    [agencies]="vm.agencies"
    [isLoading]="vm.loading"
    ></agency-results>
    <div class="pagination">
      <paginator
      [length]="133"
      [pageIndex]="vm.pageIndex"
      (page)="changePage($event)"
      [pageSize]="6"
      [delta]="2"
      ></paginator>
    </div>
  </main>
</div>