<div class="product-card">
  <a class="img-wrapper" [routerLink]="productLink" *ngIf="!loading && product">
    <img class="img" src="/assets/img/img-placeholder.png" alt="placeholder" />
  </a>
  <ngx-skeleton-loader class="img-loader" *ngIf="loading"></ngx-skeleton-loader>
  <a class="title" [routerLink]="productLink" *ngIf="!loading && product">{{ product.title }}</a>
  <ngx-skeleton-loader class="title-loader" *ngIf="loading"></ngx-skeleton-loader>
  <div class="location" *ngIf="!loading && product">
    <svg-icon src="/assets/svg/location.svg" class="location-icon" svgClass="icon"></svg-icon>
    <p class="address">{{ product.location.position }}</p>
  </div>
  <ngx-skeleton-loader class="location-loader" *ngIf="loading"></ngx-skeleton-loader>
  <div class="summary">
    <span class="price" *ngIf="!loading && product">{{
      product.details.price | currency: 'USD':'symbol':'2.0-2'
    }}</span>
    <ngx-skeleton-loader class="price-loader" *ngIf="loading"></ngx-skeleton-loader>
    <div class="rating" *ngIf="!loading && product">
      <svg-icon src="/assets/svg/star.svg" class="rating-icon" svgClass="icon"></svg-icon>
      <span class="rating-value">4.8</span>
    </div>
    <ngx-skeleton-loader class="rating-loader" *ngIf="loading"></ngx-skeleton-loader>
  </div>
</div>
