<div class="product-categories" *ngrxLet="vm$ as vm">
  <h2 class="title">Listing Categories</h2>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et.
  </p>
  <div class="categories">
    <button
      appButton
      color="secondary"
      [appearance]="vm.appearance.any"
      (click)="changeCategory('any')"
    >
      All
    </button>
    <button
      appButton
      color="secondary"
      [appearance]="vm.appearance.apartments"
      (click)="changeCategory('apartments')"
    >
      Apartments
    </button>
    <button
      appButton
      color="secondary"
      [appearance]="vm.appearance.townhouse"
      (click)="changeCategory('townhouse')"
    >
      Townhouses
    </button>
    <button
      appButton
      color="secondary"
      [appearance]="vm.appearance.condominium"
      (click)="changeCategory('condominium')"
    >
      Condominiums
    </button>
  </div>
  <div class="products">
    <ng-container *ngIf="!vm.loading">
      <app-product-card
        *ngFor="let product of vm.products"
        [product]="product"
        class="product"
      ></app-product-card>
    </ng-container>
    <ng-container *ngIf="vm.loading">
      <app-product-card
        [loading]="true"
        *ngFor="let loader of vm.quantity | times"
        class="product"
      ></app-product-card>
    </ng-container>
  </div>
</div>
