@use "brand-colors";
@use "typography";
@use "breakpoints";

.wrapper {
  border-radius: 8px;
  border: 1px solid brand-colors.$greyscale-30;
  transition: box-shadow 0.3s ease-out;

  .title {
    padding: 16px;
    cursor: pointer;
    list-style: none;
  }

  .content {
    padding: 0 16px 16px 16px;
  }

  &:hover {
    box-shadow: 0px 1px 10px 1px rgba(34, 60, 80, 0.1);
  }
}
