<div class="agency-card" *ngIf="agency">
  <div class="agency-detail">
    <span class="agency-name">{{ agency.title }}</span>
    <div class="agency-location">
      <svg-icon
      src="/assets/svg/location.svg"
      class="location-icon"
      svgClass="icon"
      ></svg-icon>
      <span class="address">{{ agency.location }}</span>
    </div>
    <div class="agency-phone">
      <svg-icon
      src="/assets/svg/phone.svg"
      class="phone-icon"
      svgClass="icon"
      ></svg-icon>
      <a
      class="phone"
      [href]="'tel:' + agency.phone"
      >{{ agency.phone }}</a>
    </div>
    <div class="agency-email">
      <svg-icon
      src="/assets/svg/mail.svg"
      class="email-icon"
      svgClass="icon"
      ></svg-icon>
      <a
      class="email"
      [href]="'mailto:' + agency.email"
      >{{ agency.email }}</a>
    </div>
  </div>
  <button
  class="contact-button"
  color="secondary"
  shared-button
  >Contact now</button>
</div>