@use "brand-colors";
@use "typography";
@use "breakpoints";

.agency-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 24px;
  border-radius: 16px;
  border: 1px solid brand-colors.$greyscale-30;
  transition: box-shadow 0.25s ease-in;

  .agency-detail {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 8px;

    .agency-name {
      font-size: 2rem;
      line-height: 150%;
      font-weight: typography.$bold;
      color: brand-colors.$greyscale-75;
    }

    .agency-location {
      display: flex;
      column-gap: 8px;

      .location-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 20px;
          fill: brand-colors.$primary-70;
        }
      }

      .address {
        font-family: typography.$font-secondary;
        font-weight: typography.$medium;
        font-size: 0.9rem;
        line-height: 200%;
        color: brand-colors.$greyscale-70;
      }
    }

    .agency-phone,
    .agency-email {
      display: flex;
      column-gap: 8px;

      .phone-icon,
      .email-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 20px;
        }
      }

      .phone,
      .email {
        font-family: typography.$font-secondary;
        font-weight: typography.$regular;
        font-size: 0.9rem;
        line-height: 200%;
        color: brand-colors.$greyscale-70;
      }
    }
  }

  .contact-button {
    width: 170px;
    height: 56px;
    text-transform: capitalize;
  }

  &:hover {
    box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
  }
}

.skeleton-loader {
  width: 100%;

  .loader ::ng-deep .loader {
    height: 100%;
    margin-bottom: 0;
  }

  .name-loader {
    width: 400px;
    max-width: 100%;
    height: 42px;
  }

  .detail-loader {
    height: 30px;

    &:nth-child(2) {
      max-width: 190px;
    }

    &:nth-child(3) {
      max-width: 260px;
    }

    &:nth-child(4) {
      max-width: 330px;
    }
  }
}
