<div class="product-info" *ngIf="!isLoading && product; else loader">
  <h1 class="title">{{ product.title }}</h1>
  <div class="location">
    <svg-icon
    src="/assets/svg/location.svg"
    class="location-icon"
    svgClass="icon"
    ></svg-icon>
    <p class="position">{{ product.location.position }}</p>
  </div>
  <img
  class="img"
  src="/assets/img/img-placeholder.png"
  alt="placeholder"
  >
  <div class="description">
    <h2 class="property-title">Description</h2>
    <p class="description-text">{{ product.description }}</p>
  </div>
  <div class="overview">
    <h2 class="property-title">Overview</h2>
    <ul class="overview-list">
      <li class="overview-list-item" *ngFor="let overview of product.overview">
        <p>{{ overview }}</p>
      </li>
    </ul>
  </div>
  <div class="details">
    <h2 class="property-title">Details</h2>
    <div class="details-properties">
      <ul class="details-list">
        <li class="row">
          <span class="head">Property ID</span>
          <span class="data">{{ product.details.id }}</span>
        </li>
        <li class="row">
          <span class="head">Price</span>
          <span class="data">{{ product.details.price | currency : product.details.currency : 'symbol' : '2.0-2' }}</span>
        </li>
        <li class="row">
          <span class="head">Property size</span>
          <span class="data">{{ product.details.size }}</span>
        </li>
        <li class="row">
          <span class="head">Category</span>
          <span class="data">{{ product.details.category }}</span>
        </li>
      </ul>
      <ul class="details-list">
        <li class="row">
          <span class="head">Year built</span>
          <span class="data">{{ product.details.year }}</span>
        </li>
        <li class="row">
          <span class="head">Property status</span>
          <span class="data">{{ product.details.status }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="address">
    <h2 class="property-title">Address</h2>
    <div class="map"></div>
  </div>
</div>
<ng-template #loader>
  <div class="product-info skeleton-loader">
    <ngx-skeleton-loader class="title-loader loader"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="position-loader loader"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="img-loader loader"></ngx-skeleton-loader>
    <div class="description">
      <ngx-skeleton-loader class="property-title-loader loader"></ngx-skeleton-loader>
      <div class="description-text-loaders">
        <ngx-skeleton-loader
        class="description-text-loader loader"
        *ngFor="let index of 3 | times"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="overview">
      <ngx-skeleton-loader class="property-title-loader loader"></ngx-skeleton-loader>
      <div class="overview-list">
        <ngx-skeleton-loader
        class="overview-item-loader loader"
        *ngFor="let index of 4 | times"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="details">
      <ngx-skeleton-loader class="property-title-loader loader"></ngx-skeleton-loader>
      <div class="details-properties">
        <ul class="details-list">
          <li class="row" *ngFor="let index of 4 | times">
            <ngx-skeleton-loader class="details-head-loader loader"></ngx-skeleton-loader>
            <ngx-skeleton-loader class="details-data-loader loader"></ngx-skeleton-loader>
          </li>
        </ul>
        <ul class="details-list">
          <li class="row" *ngFor="let index of 2 | times">
            <ngx-skeleton-loader class="details-head-loader loader"></ngx-skeleton-loader>
            <ngx-skeleton-loader class="details-data-loader loader"></ngx-skeleton-loader>
          </li>
        </ul>
      </div>
    </div>
    <div class="address">
      <ngx-skeleton-loader class="property-title-loader loader"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="map-loader loader"></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>