<header class="header">
  <svg-icon class="logo" src="/assets/svg/logo.svg"></svg-icon>
  <ul class="nav-links">
    <li>
      <a
      routerLink="home"
      routerLinkActive="active"
      >{{ 'nav.home' | translate}}</a>
    </li>
    <li>
      <a
      routerLink="catalog"
      routerLinkActive="active"
      >{{ 'nav.catalog' | translate }}</a>
    </li>
    <li>
      <a
      routerLink="agencies"
      routerLinkActive="active"
      >{{ 'nav.agencies' | translate }}</a>
    </li>
  </ul>
  <language-switcher class="language-select"></language-switcher>
  <button class="menu" (click)="requestSidebarOpen()">
    <svg-icon class="menu-icon" src="/assets/svg/menu.svg"></svg-icon>
  </button>
</header>