<header class="header">
  <svg-icon class="logo" src="/assets/svg/logo.svg"></svg-icon>
  <ul class="nav-links">
    <li>
      <a routerLink="home" routerLinkActive="active">{{ 'components.header.home' | translate }}</a>
    </li>
    <li>
      <a routerLink="catalog" routerLinkActive="active">{{ 'components.header.catalog' | translate }}</a>
    </li>
    <li>
      <a routerLink="agencies" routerLinkActive="active">{{ 'components.header.agencies' | translate }}</a>
    </li>
  </ul>
  <language-switcher class="language-select"></language-switcher>
  <button class="menu" (click)="requestSidebarOpen()">
    <svg-icon class="menu-icon" src="/assets/svg/menu.svg"></svg-icon>
  </button>
</header>
