<div class="home-page">
  <section class="discover">
    <h1 class="heading">{{ 'pages.home.overview.title' | translate }}</h1>
    <p class="description">{{ 'pages.home.overview.description' | translate }}</p>
    <search-form (search)="onSearch($event)"></search-form>
  </section>
  <section>
    <product-listing [quantity]="4"></product-listing>
  </section>
  <section class="benefits-wrapper">
    <home-benefits></home-benefits>
  </section>
  <section class="categories-wrapper">
    <product-categories [quantity]="8"></product-categories>
  </section>
  <section>
    <home-reviews [reviews]="reviews"></home-reviews>
  </section>
  <section>
    <home-contact></home-contact>
  </section>
</div>
