<div class="paginator" *ngrxLet="vm$ as vm">
  <a
  role="link"
  class="prev-link"
  [class.disabled]="!vm.hasPreviousPage"
  [attr.aria-disabled]="!vm.hasPreviousPage"
  (click)="previousPage()"
  >
    <svg-icon
    src="/assets/svg/chevron-left.svg"
    class="arrow-left"
    svgClass="arrow-left-icon"
    ></svg-icon>
  </a>
  <ul class="paginator-pages">
    <li
    class="page"
    [class.active]="page == vm.pageIndex + 1"
    *ngFor="let page of vm.pages"
    >
      <a
      role="link"
      class="page-link"
      (click)="changePage(page)"
      >{{ page }}</a>
    </li>
  </ul>
  <a
  role="link"
  class="next-link"
  [class.disabled]="!vm.hasNextPage"
  [attr.aria-disabled]="!vm.hasNextPage"
  (click)="nextPage()"
  >
    <svg-icon
    src="/assets/svg/chevron-right.svg"
    class="arrow-right"
    svgClass="arrow-right-icon"
    ></svg-icon>
  </a>
</div>