<div class="product-detail-page" *ngrxLet="vm$ as vm">
  <main class="product-info-wrapper">
    <app-product-info
      *ngIf="!vm.error"
      [product]="vm.product"
      [loading]="vm.loading"
    ></app-product-info>
    <ng-container *ngIf="vm.error"> No such product </ng-container>
  </main>
  <section class="product-payment-wrapper">
    <app-product-payment></app-product-payment>
  </section>
  <section>
    <app-product-nevelties [quantity]="4"></app-product-nevelties>
  </section>
</div>
