@use "variables";
@use "typography";
@use "brand-colors";
@use "breakpoints";

.product-detail-page {
  display: flex;
  flex-direction: column;
  row-gap: 56px;

  .product-info-wrapper {
    margin: 0 variables.$layout-indent;
    padding: 0 40px;

    @include breakpoints.tablet {
      padding: 0;
    }
  }

  .product-payment-wrapper {
    margin: 0 variables.$layout-indent;
    padding: 0 70px;

    @include breakpoints.tablet {
      padding: 0 16px;
    }
  }
}